/**
 * PLEASE CAREFULLY READ THE README AND THE MANUAL TO UNDERSTAND HOW TO CHANGE
 * THE STYLING, INCLUDING FONT, COLORS, SIZING, ETC. TO BE USED IN THE CHECKOUT
 * AD ON BIGCOMMERCE. NOT FOLLOWING THEM WILL RESULT IN UNDESIRED EFFECTS.
 * 
 * YOU HAVE BEEN WARNED . . .
 */

div.ca-popup-content {
    background: lightskyblue linear-gradient(-5deg, dodgerblue, lightskyblue, ghostwhite, white);
}

.ca-popup h1 {
    font-size: 16pt;
    padding: 0;
    width: 80%;
}

.ca-popup h2 {
    color: #333;
    font-size: 12pt;
    padding: 10px 0 15px;
    width: 90%;
}

.ca-popup p {
    color: #333;
    font-size: 10pt;
    font-style: italic;
    padding: 0;
}

img.ca-logo {
    padding: 25px 0;
    width: 80%;
}

img.ca-subscribe {
    width: 90%;
    padding: 15px 0 0;
}

img.ca-cover {
    width: 70%;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    .ca-popup h1 {
        padding: 20px 0 0 0;
        width: 100%;
    }

    .ca-popup h2 {
        padding: 15px 0 20px;
        width: 80%;
    }

    img.ca-subscribe {
        padding: 0;
    }

    img.ca-cover {
        float: left;
        width: calc(43% - 15px);
        padding-right: 15px;
    }

    div.ca-part {
        float: right;
        width: 57%;
    }
}
