div.ca-popup-content {
    padding: 15px 0;
    width: 50%;
    background-color: LightSkyBlue;
    background-image: linear-gradient(-5deg, DodgerBlue, LightSkyBlue, GhostWhite, white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.ca-popup h1 {
    font-size: 16pt;
    padding: 0;
    width: 80%;
}

.ca-popup h2 {
    color: #333;
    font-size: 12pt;
    padding: 10px 0 15px;
    width: 90%;
}

.ca-popup p {
    color: #333;
    font-size: 10pt;
    font-style: italic;
    padding: 0;
}

img.ca-logo {
    padding: 25px 0;
    width: 80%;
}

img.ca-subscribe {
    width: 90%;
    padding: 15px 0 0;
}

img.ca-cover {
    width: 70%;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    div.ca-popup-content {
        /* min-width: 700px; */
        width: 51%;
        /* max-width: 700px; */
        padding: 15px;
    }

    .ca-popup h1 {
        padding: 20px 0 0 0;
        width: 100%;
    }

    .ca-popup h2 {
        padding: 15px 0 20px;
        width: 80%;
    }

    img.ca-subscribe {
        padding: 0;
    }

    img.ca-cover {
        float: left;
        width: calc(43% - 15px);
        padding: 0 15px 0 0;
    }

    div.ca-part,
    div.ca-parttwo {
        float: right;
        width: 57%;
    }
}
